PUSHN 4
PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 2
MUL
PADD
PUSHI 0
PUSHI 10
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 2
MUL
PADD
PUSHI 1
PUSHI 20
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PADD
PUSHI 0
PUSHI 30
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PADD
PUSHI 1
PUSHI 40
STOREN
START
PUSHS "["
WRITES
PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 0
PUSHI 2
MUL
PADD
PUSHI 0
LOADN
WRITEI
POP 1
PUSHS ","
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 0
PUSHI 2
MUL
PADD
PUSHI 1
LOADN
WRITEI
POP 1
PUSHS "]"
WRITES
PUSHS ","
WRITES
PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 1
PUSHI 2
MUL
PADD
PUSHI 0
LOADN
WRITEI
POP 1
PUSHS ","
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 1
PUSHI 2
MUL
PADD
PUSHI 1
LOADN
WRITEI
POP 1
PUSHS "]"
WRITES
PUSHS "]"
WRITES
STOP
