PUSHN 4
PUSHI 0
STOREG 4
PUSHI 0
STOREG 5
START
l1c: NOP
PUSHG 4
PUSHI 2
INF
JZ l1f
PUSHI 0
STOREG 5
l0c: NOP
PUSHG 5
PUSHI 2
INF
JZ l0f
PUSHGP
PUSHI 0
PADD
PUSHG 4
PUSHI 2
MUL
PADD
PUSHG 5
READ
ATOI
STOREN
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP l0c
l0f: NOP
PUSHG 4
PUSHI 1
ADD
STOREG 4
JUMP l1c
l1f: NOP
STOP
START
PUSHS "["
WRITES
PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 2
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ","
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 2
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES
PUSHS ","
WRITES
PUSHS "["
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 2
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ","
WRITES
PUSHGP
PUSHI 0
PADD
PUSHGP
PUSHI 2
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "]"
WRITES
PUSHS "]"
WRITES
STOP
