PUSHN 12
PUSHI 0
STOREG 12
PUSHI 0
STOREG 13
START
l1c: NOP
PUSHG 12
PUSHI 3
INF
JZ l1f
PUSHI 0
STOREG 13
l0c: NOP
PUSHG 13
PUSHI 4
INF
JZ l0f
PUSHGP
PUSHI 0
PADD
PUSHG 12
PUSHI 4
MUL
PADD
PUSHG 13
READ
ATOI
STOREN
PUSHG 13
PUSHI 1
ADD
STOREG 13
JUMP l0c
l0f: NOP
PUSHG 12
PUSHI 1
ADD
STOREG 12
JUMP l1c
l1f: NOP
STOP
