START
PUSHI 5
STOREG 0
PUSHI 0
STOREG 1
PUSHI 1
PUSHI 2
PUSHI 3
l0c: NOP
PUSHG 1
PUSHG 0
INF
JZ l0f
PUSHGP
PUSHI 2
PADD
PUSHG 1
READ
ATOI
STOREN
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP l0c
l0f: NOP
PUSHS "["
WRITES
PUSHGP
PUSHI 2
PADD
PUSHI 0
LOADN
WRITEI
PUSHS ","
WRITES
PUSHGP
PUSHI 2
PADD
PUSHI 1
LOADN
WRITEI
PUSHS ","
WRITES
PUSHGP
PUSHI 2
PADD
PUSHI 2
LOADN
WRITEI
PUSHS "]"
WRITES
STOP
