START
PUSHS "Factorial: "
WRITES
READ
ATOI
STOREG 0
PUSHG 0
WRITEI
PUSHI 1
STOREG 1
l0c: NOP
PUSHG 0
PUSHI 0
SUP
JZ l0f
PUSHG 1
PUSHG 0
MUL
STOREG 1
PUSHG 0
PUSHI 1
SUB
STOREG 0
JUMP l0c
l0f: NOP
PUSHS "\nResultado: "
WRITES
PUSHG 1
WRITEI
STOP
